.wp-container-core-column-layout-1.wp-container-core-column-layout-1>* {
  margin-block-start: 0;
  margin-block-end: 0;
}

.wp-container-core-column-layout-1.wp-container-core-column-layout-1.wp-container-core-column-layout-1.wp-container-core-column-layout-1>*+* {
  margin-block-start: 8px;
  margin-block-end: 0;
}

.wp-container-core-column-layout-2.wp-container-core-column-layout-2>* {
  margin-block-start: 0;
  margin-block-end: 0;
}

.wp-container-core-column-layout-2.wp-container-core-column-layout-2.wp-container-core-column-layout-2.wp-container-core-column-layout-2>*+* {
  margin-block-start: 8px;
  margin-block-end: 0;
}

.wp-container-core-column-layout-3.wp-container-core-column-layout-3>* {
  margin-block-start: 0;
  margin-block-end: 0;
}

.wp-container-core-column-layout-3.wp-container-core-column-layout-3.wp-container-core-column-layout-3.wp-container-core-column-layout-3>*+* {
  margin-block-start: 8px;
  margin-block-end: 0;
}

.wp-container-core-column-layout-4.wp-container-core-column-layout-4>* {
  margin-block-start: 0;
  margin-block-end: 0;
}

.wp-container-core-column-layout-4.wp-container-core-column-layout-4.wp-container-core-column-layout-4.wp-container-core-column-layout-4>*+* {
  margin-block-start: 8px;
  margin-block-end: 0;
}

.wp-container-core-columns-layout-1.wp-container-core-columns-layout-1 {
  flex-wrap: nowrap;
  gap: 40px;
}

.wp-container-core-group-layout-2.wp-container-core-group-layout-2> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: 1200px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.wp-container-core-group-layout-2.wp-container-core-group-layout-2>.alignwide {
  max-width: 1200px;
}

.wp-container-core-group-layout-2.wp-container-core-group-layout-2 .alignfull {
  max-width: none;
}

.wp-elements-40b0c65f0621f8b9fbaefbe0ececd7dc a {
  color: var(--wp--preset--color--luminous-vivid-orange);
}

.wp-elements-e849aa497ef2dd915dc8cd747791d21a a {
  color: var(--wp--preset--color--ast-global-color-1);
}

.wp-container-core-column-layout-5.wp-container-core-column-layout-5>* {
  margin-block-start: 0;
  margin-block-end: 0;
}

.wp-container-core-column-layout-5.wp-container-core-column-layout-5.wp-container-core-column-layout-5.wp-container-core-column-layout-5>*+* {
  margin-block-start: 8px;
  margin-block-end: 0;
}

.wp-elements-56e6eb529bc6ecd0069e673b0b51ea2f a {
  color: var(--wp--preset--color--ast-global-color-1);
}

.wp-container-core-column-layout-6.wp-container-core-column-layout-6>* {
  margin-block-start: 0;
  margin-block-end: 0;
}

.wp-container-core-column-layout-6.wp-container-core-column-layout-6.wp-container-core-column-layout-6.wp-container-core-column-layout-6>*+* {
  margin-block-start: 8px;
  margin-block-end: 0;
}

.wp-elements-ceb1d7d410a90f951c9a6ff8de865fb6 a {
  color: var(--wp--preset--color--ast-global-color-1);
}

.wp-container-core-column-layout-7.wp-container-core-column-layout-7>* {
  margin-block-start: 0;
  margin-block-end: 0;
}

.wp-container-core-column-layout-7.wp-container-core-column-layout-7.wp-container-core-column-layout-7.wp-container-core-column-layout-7>*+* {
  margin-block-start: 8px;
  margin-block-end: 0;
}

.wp-container-core-columns-layout-2.wp-container-core-columns-layout-2 {
  flex-wrap: nowrap;
}

.wp-container-core-group-layout-3.wp-container-core-group-layout-3> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: 1200px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.wp-container-core-group-layout-3.wp-container-core-group-layout-3>.alignwide {
  max-width: 1200px;
}

.wp-container-core-group-layout-3.wp-container-core-group-layout-3 .alignfull {
  max-width: none;
}

.wp-container-core-group-layout-5.wp-container-core-group-layout-5> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: 1200px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.wp-container-core-group-layout-5.wp-container-core-group-layout-5>.alignwide {
  max-width: 1200px;
}

.wp-container-core-group-layout-5.wp-container-core-group-layout-5 .alignfull {
  max-width: none;
}

.wp-container-core-group-layout-6.wp-container-core-group-layout-6> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: 800px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.wp-container-core-group-layout-6.wp-container-core-group-layout-6>.alignwide {
  max-width: 800px;
}

.wp-container-core-group-layout-6.wp-container-core-group-layout-6 .alignfull {
  max-width: none;
}

.wp-elements-6df8ebda011f61a1bd78544ae0bafc02 a {
  color: var(--wp--preset--color--luminous-vivid-orange);
}

.wp-elements-3bb62203988ec4db117639d5faad19ea a {
  color: var(--wp--preset--color--ast-global-color-1);
}

.wp-container-core-column-layout-8.wp-container-core-column-layout-8>* {
  margin-block-start: 0;
  margin-block-end: 0;
}

.wp-container-core-column-layout-8.wp-container-core-column-layout-8.wp-container-core-column-layout-8.wp-container-core-column-layout-8>*+* {
  margin-block-start: 8px;
  margin-block-end: 0;
}

.wp-elements-1a8507486a17f2d0ce781bbd488048bc a {
  color: var(--wp--preset--color--ast-global-color-1);
}

.wp-container-core-column-layout-9.wp-container-core-column-layout-9>* {
  margin-block-start: 0;
  margin-block-end: 0;
}

.wp-container-core-column-layout-9.wp-container-core-column-layout-9.wp-container-core-column-layout-9.wp-container-core-column-layout-9>*+* {
  margin-block-start: 8px;
  margin-block-end: 0;
}

.wp-elements-8696b33ba5a4edf7fab09dc4e757e79c a {
  color: var(--wp--preset--color--ast-global-color-1);
}

.wp-container-core-column-layout-10.wp-container-core-column-layout-10>* {
  margin-block-start: 0;
  margin-block-end: 0;
}

.wp-container-core-column-layout-10.wp-container-core-column-layout-10.wp-container-core-column-layout-10.wp-container-core-column-layout-10>*+* {
  margin-block-start: 8px;
  margin-block-end: 0;
}

.wp-container-core-columns-layout-3.wp-container-core-columns-layout-3 {
  flex-wrap: nowrap;
  gap: 80px;
}

.wp-container-core-group-layout-7.wp-container-core-group-layout-7> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: 1200px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.wp-container-core-group-layout-7.wp-container-core-group-layout-7>.alignwide {
  max-width: 1200px;
}

.wp-container-core-group-layout-7.wp-container-core-group-layout-7 .alignfull {
  max-width: none;
}

.wp-container-core-buttons-layout-2.wp-container-core-buttons-layout-2 {
  justify-content: center;
}

.wp-container-core-group-layout-8.wp-container-core-group-layout-8> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: 520px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.wp-container-core-group-layout-8.wp-container-core-group-layout-8>.alignwide {
  max-width: 520px;
}

.wp-container-core-group-layout-8.wp-container-core-group-layout-8 .alignfull {
  max-width: none;
}

.wp-container-core-group-layout-9.wp-container-core-group-layout-9 {
  flex-direction: column;
  align-items: flex-start;
}
